%section.sign_in.container
  .row
    .col-md-3.col-md-offset-1
      =form_tag "/login", :method => 'post' do
        %header
          %h1 Sign in
        %fieldset.form-group
          =label_tag :username, 'Username'
          =text_field_tag :username, '', class: 'form-control'
          =label_tag :password, 'Password'
          =password_field_tag :password, '', class: 'form-control'
        %fieldset.action
          %input(type="submit" value="Sign in" class="btn")
      %br
      %p= link_to "Create an account", registration_path
      %p= link_to "Forgot your password?", '/forgot_password'
