%section.sign_in.container
  .row
    .span10.offset1
      =form_tag "/login", :method => 'post' do
        %header
          %h1 Sign in
        %fieldset
          =label_tag :username, 'Username'
          =text_field_tag :username
          =label_tag :password, 'Password'
          =password_field_tag :password
        %fieldset.action
          %input(type="submit" value="Sign in" class="btn")
      %p= link_to "Forgot your password?", '/forgot_password'
      %p= link_to "Create an account", registration_path

