%section.invalid_token.container
  .row
    .col-md-6.col-md-offset-1
      %h1 Sorry, that link is expired
      %br
      %p For security purposes, we must expire password reset links after a certain amount of time.  You can generate another reset link by filling out the <a href="/forgot_password">forgot password form</a>.
      %p If you are continuing to have problems, please email us <a href="mailto:contact@smileku.com?Subject=Password%20issues" target="_top">contact@smileku.com</a>
