.row
	.pull-right
		- unless @ku.next_ku.nil?
			=link_to 'next', url_for(@ku.next_ku)
		- unless @ku.prev_ku.nil?
			=link_to 'prev', url_for(@ku.prev_ku)
		- unless @ku.alt_ku.nil?
			=link_to 'alt', url_for(@ku.alt_ku)
	