%section.container
	.row
		.col-md-4
			.row
				= image_tag @story.large_cover, class: "story_image"
			.row
				%h2= @story.title
				.well
					%p.story_description 
						="#{@story.filter(:description)} -- ".html_safe
						%a
							=link_to(@story.user.username, user_path(@story.user))
		.col-md-8
			=form_for @ku, html: { class: "form-group" } do |f|
				%header.ku_navigation EDIT YOUR KU:
				%br
				=f.text_area :body, class: "form-control wysihtml5", rows: 15
				:javascript
					$(document).ready(function(){
						$('.wysihtml5').wysihtml5({
							"image": false
						});
					});
				%br
				=f.submit "Publish Edits", class: "btn btn-primary form-control"