%section.container
	.row
		.span5
			.row.span4
				= image_tag @story.large_cover
			.row.span4
				%h2= @story.title
		.span7
			.well
				%p.story_description 
					="#{@story.description} -- "
					%a
						=link_to(@story.user.username, user_path(@story.user))
			=form_for @ku do |f|
				=f.label :body, "Add to the story:"
				=f.text_area :body, class: "span7", rows: 15
				=f.submit "Update", class: "btn btn-large"