%section.container
	.row
		.span5
			.row.span4
				= image_tag @story.large_cover
			.row.span4
				%h2= @story.title
				%br
		.span7
			.well
				%p.story_description 
					="#{@story.description} -- "
					%a
						=link_to(@story.user.username, user_path(@story.user))
			=form_for [@story,@ku] do |f|
				=hidden_field_tag "ku[parent_id]", params[:parent_id]
				=f.label :body, "Add to the story:"
				=f.text_area :body, class: "span7", rows: 15
				=f.submit "Publish", class: "btn btn-large"
			%br
			%p Review the parent:
			.clear_well= @text.html_safe