<div class="container-narrow">
      <div class="jumbotron pagination-centered">
        <h1 class="giant">Smileku</h1><br>
        <h1><i class="icon-spinner"></i> Infinite Stories</h1>
      </div>
      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h2>What is Smileku?</h2>
          <p>Smileku is a novel way to write. Here, people around the world come together to co-author stories.</p>
          <p>Each story begins with a 500 word block known as a Ku. After the first Ku, anyone can add additional Kus to the story.  As the story grows, readers vote on their favorite Kus, and in turn shape how the story is read.</p>
        </div>

        <div class="span6">
          <h4>Be the first to join</h4>
          <p>We're looking enthusiastic writers.  If you'd like to be part of this group, please sign up in the form below.  We'll be in contact with next steps.</p>
            <%= form_for @user do |f| %>
              <%= f.text_field :username, :placeholder => "First Name" %><br>
              <%= f.text_field :email, :placeholder => "Email Address" %><br>
              <%= f.submit "Notify me!", :class => "btn" %>
            <% end %>
        </div>
      </div>
    </div>