.container
  .jumbotron.row-fluid
    .front-left.span7
      %h1.giant Smileku
      %h1 &infin; Infinite Stories
    .front-right.span4
      %h3 Welcome to Smileku
      %p Join writers around the world and co-create stories for future generations.
      = link_to "Sign up now", registration_path, class: "btn btn-large"