%section.container
	.row
		%h1 Smileku User Agreement
	.row.row10
		.col-md-6
			%h2 Introduction
			%p Welcome to Smileku.  The Smileku.com website is a collaborative writing community that hosts stories written by multiple writers.  We hope to foster a community for writers who create original stories for the world to read.
			%p All Smileku users must respect the intellectual property rights of others, including copyright and trademarks. You must only submit content you have created yourself.
			%p It is important you read the agreement below. Using this website means you accept this agreement. If you do not agree with its terms, do not use this website.
			%p All visitors (“user”, “you”, “your”) to the Smileku website at www.smileku.com (“the website”) are entering a binding legal agreement on the following terms (the “agreement”) when using the website. The agreement is between the user and Smileku (“we”, “us”, “our”) and use of this website indicates continued acceptance of this agreement.
			%br
			%br
			%h2 Eligibility
			%p You do not need to sign up for a user account (an “account”) in order to access the parts of the website that are available to the general public.  However, some parts of the website are restricted to users with accounts.  In order to access those parts of the website, you will have to create an account. 
			%p By creating an account you are representing that (a) all registration information you submit is truthful and accurate and (b) you are at least 13 years old.
			%p Your account is personal to you.  You are responsible for the activity that occurs on your account, so you should keep your account password secure.  Please notify Smileku immediately of any unauthorized use of your account.  You are not allowed to use any other user's account.  
			%p Smileku is under no obligation to provide any individual an account, and may accept or reject any registration in its sole and complete discretion. In addition, Smileku reserves the right to terminate any account, to take down your profile, and/or to remove any content you post for any reason.
			%br
			%br
			%h2 Amendment to this agreement
			%p We may amend the terms of this agreement from time to time, and we will let you know about these changes either by sending you an email to the email address you have registered with your account or by displaying information about the changes on our home page, or both. Either way, your continuing use of the website will be taken to be acceptance of the new terms.
			%br
			%br
			%h2 Content Policy
			%p You keep the copyright in any content you submit or upload to the website. In order to receive the Smileku services you grant Smileku a non-exclusive royalty free license to use and archive the content in accordance with or as reasonably contemplated by this agreement.
			%p When you submit or upload content on the website you represent and warrant that:
			%ul
				%li you own all copyright in the content, or if you are not the owner, that you have permission to use the content, and that you have all of the rights required to display and reproduce the content;
				%li the content you upload will not infringe the intellectual property rights or other rights of any person or entity, including copyright, moral rights, trade mark, patent or rights of privacy or publicity;
				%li the content does not contain material that defames or vilifies any person, people, races, religion or religious group and is not obscene, pornographic, indecent, harassing, threatening, harmful, invasive of privacy or publicity rights, abusive, inflammatory or otherwise objectionable;
				%li the content does not include malicious code, including but not limited to viruses, trojan horses, worms, time bombs, cancelbots, or any other computer programming routines that may damage, interfere with, surreptitiously intercept, or expropriate any system, program, data, or personal information; and
				%li the content is not misleading and deceptive and does not offer or disseminate fraudulent goods, services, schemes, or promotions;
				%li the content does not harass or advocate harassment of another person;
				%li the content does not promote illegal activities or conduct;
				%li the content does not contain any telephone numbers, street addresses or email addresses of any individual;
				%li the content will comply with all applicable law, rules and regulations;.
			%p Smileku reserves the right to review and if in its sole discretion deemed necessary, remove any content from the website and / or cancel your account, because that content breaches your agreement with us and / or any applicable laws, or otherwise. You agree to indemnify Smileku in respect of any direct or indirect damage caused due to your breach of one or more of these warranties.
			%br
			%br
			%h2 General Rules
			%p You must abide by the following rules and regulations when you use the website:
			%ul
				%li You agree not to use the website to collect or use any personally-identifiable information regarding website users.
				%li You may access the website’s content only through conventional access to the website itself, and not through any automated means (e.g., “spiders”).  (However, operators of public search engines are permitted to use spiders to copy materials from the website for as necessary for creating publicly available searchable indices of the materials.)
				%li You agree not to use the website in any manner that interferes with, disrupts or creates an undue burden on the website or the networks or services that support the website.
				%li You agree not to use the website in order to harass, abuse, stalk, or harm another person.
				%li Don’t spam or use the website to engage in any commercial activities, including, without limitation, raising money; advertising or promoting a product, service, website, or company; or engaging in any pyramid or other multi-tiered marketing scheme.
			%p Smileku reserves the right to investigate and take appropriate action against anyone who it believes may be violating any of these provisions, or any other provisions of this agreement, including by reporting that person to law enforcement authorities.
			%br
			%br
			%h2 Further Contact
			%p= "We hope that you find the website fun and easy to use.  Questions or comments regarding the website should be submitted using our e-mail address at #{mail_to 'contact@smileku.com'}.".html_safe