%section.container
	.row-fluid
		%ul.nav.nav-tabs
			%li.activities= link_to "Read", stories_path
			%li.activities.active= link_to "Write", '#'
	.row.span12
		%header
			%h2 Start a new story
		%br
		=bootstrap_form_for @story do |f|
			%fieldset
				.span4
					=f.text_field :title, class: "span4"
					=f.text_area :description, class: "span4", rows: 3
					=f.file_field :large_cover, label: "Upload a Cover"
				.span7
					=fields_for @ku do |k|
						=k.label :body
						=k.text_area :body, class: "span7", rows: 15
					=f.submit "Publish", class: "btn"