%section.container
	.row
		%header.span12
			%h2 Start a new story
	.row
		%form
			%fieldset
				.span5
					%label Story Title
					%input.span5
					%label Description
					%textarea.span5(rows="3")
					%br
					%label Large Image
					%input
					%label Small Image
					%input
				.span7
					%label Body:
					%textarea.span7(rows="15")
					%fieldset.action
					%input(type="submit" class="btn")
