- meta :title => "Write something awesome - Smileku", :description => "Start a new collaborative story."
%section.container
	.row
		=bootstrap_form_for @story do |f|
			%fieldset.form-group
				.col-md-4
					%header
					%h2 Start a new story 
					%p.pull-right{"data-target" => "#storymodal", "data-toggle" => "modal"}
						%a.bold Need help?
					%br
					=f.text_field :title, class: "form-control"
					=f.text_area :description, class: "form-control", rows: 3
					=f.file_field :large_cover, label: "Upload a Cover"
				.col-md-8
					=fields_for @ku do |k|
						=k.label :body, "Write the first ku", class: "ku_navigation"
						=k.text_area :body, class: "form-control wysihtml5", rows: 20
						:javascript
							$(document).ready(function(){
								$('.wysihtml5').wysihtml5({
									"image": false
								});
							});
						%br
						=f.submit "Publish", class: "btn btn-primary btn-block"
		= render 'storymodal'