.jumbotron
  .container
    .span7.front-left
      %h1.giant Smileku
      %br
      %h1 &infin; Infinite Stories
    .span4.front-right
      %h3 Welcome to Smileku
      %p Join writers around the world and co-create stories for future generations.
      =form_for "" do |f|
        = f.text_field :username, :placeholder => "Username"
        = f.text_field :email, :placeholder => "Email Address"
        = f.password_field :password, :placeholder => "Password"
        = f.submit "Create Account", :class => "btn"