%section.invalid_token.container
  .row
    .span10.offset1
      %h1 Sorry, that link is expired
      %br
      %p You can generate another reset link by filling out the <a href="/forgot_password">forgot password form</a>.
