%section.invite.container
  .row
    .span10.offset1
      %form.invite
        %header
          %h1 Tell your friends about Smileku!
          %h4 <a href="">Send a tweet</a> or email a friend with the form below.
        %fieldset
          %label Friend's Name
          %input(type="text")
          %label Friend's Email Address
          %input(type="email")
          %label Invitation Message
          %textarea.span4(rows=6) I'm having a blast writing collaborative stories on Smileku and think you'd like it too!
        %fieldset.action
          %input(type="submit" value="Send Invitation" class="btn")