%section.container
	.row
		%header
			%h2 Start your story
	.row
		%form
			.row
				%fieldset
					.span5
						%label Story Title
						%input.span5
						%label Description
						%textarea.span5(rows="3")
						%br
						%label Large Image
						%input
						%label Small Image
						%input
					.span7
						%label Start your story:
						%textarea.span7(rows="15")
						%fieldset.action
						%input(type="submit" class="btn")
