%section.container
	.row
		.span8
			%form
				%fieldset
					%label Story Title
					%input.span8
					%br
					%label Write your story
					%textarea.span8(rows="10")
				%fieldset.action
					%input(type="submit" class="btn")
		.span4