%section.container
	.row
		.span5
			.row.span4
				%img(src="http://ih2.redbubble.net/image.14699308.4227/fc,550x550,creme.jpg")
			.row.span5
				%h2 The Adventures of Huckleberry Finn
		.span7
			.well
				%p Sirloin nostrud sunt filet mignon, consectetur laborum shank ball tip jerky commodo turkey. Enim in anim minim t-bone. Deserunt anim consequat, venison nostrud pariatur ball tip doner ham short ribs. Aute spare ribs cow eiusmod meatloaf minim qui in swine bacon. -- <a href="#">some_dude</a>
			%label Add your ku:
			%textarea.span7(rows="15")
			%fieldset.action
			%input(type="submit" class="btn")
