.row-fluid
	%header
		%h2 Write a new post
.row-fluid
	%form
		%fieldset
			%label Title
			%input.span7
			%label Post
			%textarea.span7(rows="8")
			%br
			%label Header Image
			%input
			%label Mrec Image
			%input
			%fieldset.action
			%input(type="submit" class="btn")
