%section.account.container
  .row
    .span6.offset1
      %form
        %header
          %h1 Update your writer bio
        %fieldset
          %label Image
          %label Bio
          %textarea.span5(rows="6")
          %label Website
          %input(type="text")
          %label Location
          %input(type="text")
          %label Email
          %input(type="email")
          %label Password
          %input(type="password")
        %fieldset.action
          %input(type="submit" value="Update" class="btn")
          %a Cancel