%section.container
	.row
		.span5
			.row.span5
				%h2 The Adventures of Huckleberry Finn
			.row.span4
				%img(src="http://ih2.redbubble.net/image.14699308.4227/fc,550x550,creme.jpg")
		.span7
			.row
				%h3 28 Kus since September 2013
				- 6.times do
					.span1
						%h5 KU#2 
					.span6
						%p= link_to "Nunc quis cursus tellus, eu tincidunt augue. Proin eget iaculis nibh. Sed consectetur tincidunt erat, quis rutrum neque eleifend non...", nil