.container
	.row
		.span11.offset1
			.row
				.span6
					%h1 Posts by Smileku
			%br
			.row
				.span6
					%ul
						- @posts.each do |p|
							.li
								= p.created_at.strftime("%B %d, %Y")
								%h3= link_to(p.title, post_path(p))