.container
	%section.ui-index
		%ul
			- Dir.glob('app/views/posts/*.html.haml').sort.each do |file|
				- post = File.basename(file,'.html.haml')
				-  unless post == 'index' || post.match(/^_/)
					%li= link_to post.titleize, action: post unless post == 'index'