.container
	.row
		.col-md-11.col-md-offset-1
			.row
				.col-md-9
					%h1 Writing Tips: helpful articles to teach and inspire writers
					%br
					%ul
						- @posts.each do |p|
							.li
								%h3= link_to(p.title, post_path(p))
								.bold= p.created_at.strftime("%B %d, %Y")
								%p= p.filter(:text).truncate(300).html_safe
								=link_to 'Read More...', post_path(p)
								%hr