.row-fluid
	%header
		%h2 Write a new post
.row-fluid
	=bootstrap_form_for @post do |f|
		%fieldset
			=f.text_field :title, class: "span7"
			=f.text_area :text, class: "span7", rows: 15
			=f.file_field :header, label: "Header Image"
			=f.text_field :photo_link, class: "span7"
			=f.file_field :mrec, label: "Preview Image"
			=f.submit "Publish", class: "btn"