Hi <%= @invitee_name %>,
<br><br>

Your friend <%= link_to "#{@user.username}", user_url(@user, :utm_source => "appmailer", :utm_medium => "email", :utm_campaign => "invites") %> has invited you to join Smileku, a collaborative storytelling website.  Here's a message they wrote for you:
<br><br>

"<em><%= @message %></em>"
<br><br>

<div style="font-weight: bold; font-size: 18px; line-height: 24px; color: #D03C0F">
	<strong><%= link_to "Visit Smileku", root_url(:utm_source => "appmailer", :utm_medium => "email", :utm_campaign => "invites") %></strong>
</div>
<br>

- Team Smileku
<br><br>