<div style="font-weight: bold; font-size: 18px; line-height: 24px; color: #D03C0F">
Hi <%= @user.username %>, sorry about the password trouble...
</div><br>

Please click the link below to reset your password:
<br><br>

<div style="font-weight: bold; font-size: 18px; line-height: 24px; color: #D03C0F">
<%= link_to "Reset your Smileku Password", password_reset_url(@user.token, :utm_source => "appmailer", :utm_medium => "email", :utm_campaign => "pwreset") %>
</div>
<br>
Let us know if you have any additional questions.
<br><br>

- Team Smileku
<br><br>