<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.username %>,</p> 
		<p>Sorry you've been having trouble with logging in.  Please click the link below to reset your password:</p>
		<h2><%= link_to "Reset your Smileku Password", password_reset_url(@user.token) %></h2>
  </body>
</html>