!!!
%html
  %body
    %h1= "Welcome to Smileku, #{@user.username}"
    %p Thanks for joining our community, whether you're a seasoned writer, new to the craft or just enjoy reading people's stories, we want you to get the most out of our site.  Feel free to email us at contact@smileku.com if you have any questions.
    %p= "To login to the site, just #{link_to 'click here', @url}."
    %p Thanks for joining and have a great day!