<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>You've joined Smileku, so what now?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <h1>Welcome to the party, <%= @user.username %></h1>
    <p>Well, it's kind of a party, BYOB.  Instead of dragging on this metaphor.. Thank you for joining. Whether you're published and famous or aspiring to greatness, we hope Smileku will be a place for you to write more often and have fun doing it.</p>
    <p>Feel free to <a href="mailto:contact@smileku.com?Subject=New%20member%20question" target="_top">drop us a line</a> if you have any questions.</p>
    <h2><%= link_to 'Login and start writing!', login_path %></h2>
    <br>
    <small>%unsubscribe_url%</small>
  </body>
</html>