<div style="font-weight: bold; font-size: 18px; line-height: 24px; color: #D03C0F">
Welcome to Smileku, <%= @user.username %>
</div><br>

Thank you for joining us at our small corner of the internet. Whether you're published and famous or aspiring to greatness, we hope Smileku will be a place for you to write more often and have fun doing it.
<br><br>

<div style="font-weight: bold; font-size: 18px; line-height: 24px; color: #D03C0F">
<%= link_to 'Login and start writing!', login_url(:utm_source => "appmailer", :utm_medium => "email", :utm_campaign => "welcome") %>
</div>
<br>

- Team Smileku
<br><br>