.giant {
  font-size: 1000%;
  padding: 45px;
}

.jumbotron {
  min-height: 500px;
  background: url('header1.jpg')
}

.front-left {
  padding-top: 50px;
}

.front-left > h1 {
  color: #FFFFFF;
  padding-left: 45px;
}

.front-right {
  padding-top: 150px;
  color: #FFFFFF;
}