body.front-page {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-image: none;
}

.content.front-page {
  background-color: #FFFFFF;
  padding: 20px;
  margin: 0 -20px;
  /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 0px 0px;
  -moz-box-shadow: 0 0px 0px;
  box-shadow: 0 0px 0px;
}

.giant {
  font-size: 750%;
  padding-top: 20px;
}

.front-left > h1 {
  color: #000000;
  padding-left: 45px;
}

.front-right {
  vertical-align: middle;
  color: #FFFFFF;
  font-size: 130%;
}

.about-block {
	font-size: 145%;
	line-height: 1.3em;
}

.image-center {
  margin: 0 auto;
}

.front-post {
  max-width: 260px;
  padding-right: 11px;
  float: left;
}

#content-margin {
  margin-left: 40px;
}