body.front-page {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-image: none;
}

.giant {
  font-size: 750%;
  padding-top: 25px;
}

.jumbotron {
	margin-top: -19px;
  min-height: 650px;
  width: 100%;
  background: url('Hubble_Mystic_Mountain_2.jpg') repeat scroll center center transparent;
}

.front-left {
  padding-top: 50px;
}

.front-left > h1 {
  color: #FFFFFF;
  padding-left: 45px;
}

.front-right {
  padding-top: 150px;
  color: #FFFFFF;
  font-size: 120%;
}

.about-block {
	font-size: 140%;
	line-height: 1.3em;
}
