.story {
  min-height: 260px;
  max-width: 200px;
  padding-right: 8px;
  float: left;
}

li.activities > a {
	font-size: 24px;
	line-height: 1.2em;
}

.sidebar {
	margin-top: 55px;
	max-width: 250px;
	float: right;
}

.twitter-box {
	width: 100%;
}

.post-image {
	padding-bottom: 5px;
	text-align: center;
}

.start_a_story {
	text-align: center;
	font-family: monospace;
	background-color: #FEFE52;
}