.row10 {
	margin-top: 10px;
}

.ku_body {
	font-family: monospace;
	font-size: 1.4em;
	line-height: 1.3em;
}

p.story_description {
	font-style: italic;
	font-size: 1em;
	line-height: 1.2em;
}

.vote-block-up {
	display: inline-block;
	font-size: 1.8em;
	color: green;
}

.vote-block-down {
	display: inline-block;
	margin-left: 12px;
	font-size: 1.8em;
	color: red;
}

.span3.reverse-margin {
	margin-left: 0;
	margin-right: 30px;
 }

.modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}