<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
    <a class="close" data-dismiss="alert">&#215;</a>
  </div>
<% end %>

<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
    <a class="close" data-dismiss="alert">&#215;</a>
  </div>
<% end %>