!!!  
%html
	.container
		- if logged_in?
			=link_to "&infin;".html_safe, root_path, :class => "brand"
			%ul.nav.pull-right
				%li
					=link_to "Invite", "#"
				%li
					=link_to "Profile", "#"
				%li
					=link_to "Logout", logout_path
		- else
			=link_to "&infin;".html_safe, front_path, :class => "brand"
			%ul.nav.pull-right
				%li
					=link_to "Sign Up", registration_path
				%li
					=link_to "Login", login_path
				%li
					=link_to "About", "#"